@use '../var/color';

.input-qty {
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid gray;
	padding: 2px;

	input {
		flex: 1;
		width: 50px;
		height: 100%;
		text-align: center;
		outline: none;
		border: 0;
		background-color: transparent;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	button {
		$color-text: white;

		width: 30px;
		height: 40px;
		background-color: color.$primary;
		border: 0;
		outline: none;
		color: $color-text;
	}
}