@use './var/color';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100svh;
	background-color: var(--background-color);
}

#root {
	height: 100%;
}

input {
	border: 0;
	outline: none;
	background-color: color.$card-background;
	height: 48px;
	padding: 0 1rem;
}

.dialog {
	padding: 2rem;

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}