@use '../../var/color';

.topbar {
	$color-text: black;

	grid-area: topbar;
	color: $color-text;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 1rem;
	padding: 5px 3% 5px 1rem;
	height: 60px;

	.label {
		margin-right: auto;
		color: var(--text-color);
	}

	.search-query {
		width: 100%;
		max-width: 400px;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow-y: hidden;
		border: 1px solid $color-text;
		color: $color-text;
		border-radius: 999px;
		padding: 0 10px;
		gap: 5px;

		input {
			height: 100%;
			flex: 1;
			color: var(--text-color);
			border: 0;
			background-color: transparent;
			outline: none;

			&::placeholder {
				color: gray;
				opacity: .5;
			}
		}

		.erase {
			cursor: pointer;
		}
	}

	.notification-bell {
		aspect-ratio: 1/1;
		height: 100%;
		color: color.$primary;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5px;
		background-color: transparent;
		bottom: 0;
		outline: none;
		border-radius: 999px;

		>.icon{
			width: 100%;
			height: 100%;
		}

		>.menu {
			position        : fixed;;
			padding         : 20px;
			background-color: white;
			top             : 1rem;
			right           : 1rem;
			bottom          : 1rem;
			// min-height: 100svh;
			border-radius: 12px;
			box-shadow: 0 0 5px gray;
			z-index: 100;
			width: clamp(300px, 80%, 500px);
			padding: 20px;
			gap: 12;
			animation: fromLeft .3s linear;

			@keyframes fromLeft {
				from {
					transform: translateX(100%);
				}
			}
		}
	}
}